# Virtual Environment
diseases/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Static collected files
staticfiles/

# Media files
media/

# Migrations (optional)
*/migrations/*.pyc