{% load static %}

<!DOCTYPE html>

<html>

<head>

    <title>

        AI Disease Risk Prediction

    </title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;700;800&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="{% static 'css/styles.css' %}"
    >

</head>

<body>

    <!-- HEADER -->

    <header>

        <h1>

            AI Diabetes Risk Prediction System

        </h1>

    </header>

    <!-- NAVBAR -->
<nav class="navbar">

    <div class="nav-left">

        <a href="/">Home</a>

        <a href="/predict/">Predict</a>

        <a href="{% url 'profile' %}">Profile</a>

        <a href="{% url 'history' %}">History</a>

        

        {% if user.email == "dileepkumarrouthu02@gmail.com" %}
            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>
        {% endif %}

    </div>

    

    <div class="nav-right">

        {% if user.is_authenticated %}

            <span class="welcome-user">
                👋 Welcome, {{ user.username }}
            </span>

            <a href="/accounts/logout/">
                Logout
            </a>

        {% else %}

            <a href="/accounts/login/">
                Login
            </a>

            <a href="/accounts/register/">
                Register
            </a>

        {% endif %}

    </div>

</nav>
    <!-- PAGE CONTENT -->

    {% block content %}

    {% endblock %}

</body>

</html>