{% extends 'base.html' %}

{% block content %}

<div class="hero-section">

    <div class="overlay">

        <h1>
            AI Powered Diabetes Risk Prediction
        </h1>

        <p>
            Predict diabetes risk using advanced
            Machine Learning algorithms and
            healthcare analytics.
        </p>

        <a href="/predict/" class="predict-btn">

            Get Prediction

        </a>

    </div>

</div>

<div class="dashboard">

    <div class="card">

        <h2>AI Prediction</h2>

        <p>

            Our AI system analyzes patient
            health data and predicts diabetes
            risk using advanced Machine
            Learning models.

        </p>

    </div>

    <div class="card">

        <h2>Algorithms</h2>

        <p>

            Random Forest, Logistic Regression,
            SVM, and Decision Tree algorithms
            are used for accurate disease
            prediction.

        </p>

    </div>

    <div class="card">

        <h2>Healthcare Dashboard</h2>

        <p>

            Interactive dashboard displays
            prediction results, risk analysis,
            and healthcare insights visually.

        </p>

    </div>

</div>

{% endblock %}