{% extends 'base.html' %}

{% block content %}



<form method="POST" class="prediction-form">


    <h2 class="form-title">
        Enter Patient Details
    </h2>


    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" id="predict-btn">

        Predict Risk

    </button>
    

</form>

<script>

    const form = document.querySelector('.prediction-form');

    const loading = document.getElementById('loading');

    form.addEventListener('submit', function () {

        loading.style.display = 'block';

    });

</script>

{% endblock %}